/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';


body {
  background-color: #fff;
}


#error_explanation {
  color: red;
}
 
.nav-item a {
  color: black;
  margin-right: 10px;
}


.p-comment__formBox {
  margin: 30px auto;
  border: 5px solid #e8e8e8;
  padding: 25px;
  border-radius: 14px;
}

.p-comment__formTitle {
  border-bottom: 2px solid #dfdfdf;
  padding-bottom: 5px;
}

.p-comment__listTitle {
  border-bottom: 2px solid #dfdfdf;
  padding-bottom: 5px;
}

.p-comment__list {
  margin: 38px 0;
  padding: 20px;
}

.p-comment__item {
  padding: 18px;
  border-bottom: 2px dotted #dfdfdf;
}

.p-comment__bottomLine {
  font-size: 15px;
  text-align: right;

  > span {
    font-size: 14px;
    margin: 0 12px;
  }
}

.boards__table {
  tr:hover {
    cursor: pointer;
  }
}

.boards__linkBox {
  a {
    margin: 0 8px;
  }
}

.boards__searchForm {
  display: inline-block;
}

.boards__select {
  display: inline-block;
  width: auto;
}

