/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';


body {
  background-color: #fff;
}


#error_explanation {
  color: red;
}
 
.nav-item a {
  color: black;
  margin-right: 10px;
}


.form-wrapper {
  margin: 30px auto;
  border: 5px solid #e8e8e8;
  padding: 25px;
  border-radius: 14px;
}

.form-title {
  border-bottom: 2px solid #dfdfdf;
  padding-bottom: 5px;
}

.comment-listTitle {
  border-bottom: 2px solid #dfdfdf;
  padding-bottom: 5px;
}

.comment-list {
  margin: 38px 0;
  padding: 20px;
}

.comment-item {
  padding: 18px;
  border-bottom: 2px dotted #dfdfdf;
}

.comment-bottom {
  font-size: 15px;
  text-align: right;

  > span {
    font-size: 14px;
    margin: 0 12px;
  }
}

.boards-table {
  tr:hover {
    cursor: pointer;
  }
}

.boards-link {
  a {
    margin: 0 8px;
  }
}

.boards-search {
  display: inline-block;
}

.boards-select {
  display: inline-block;
  width: auto;
}


/* 検索ボックス */
dl.searchbox{
  width: 350px;
  position:relative;
  background-color: #f3f3f3;
  border:2px solid 	black;
  border-radius:6px;
  top:10px;
  left:230px;
}
dl.searchbox dt{
  padding:2px;
}
dl.searchbox dt input{
  width:70%;
  height:35px;
  line-height:35px;
  background:#f3f3f3;
  border:none;
}
dl.searchbox dd{
  position:absolute;
  top:0px;
  right:0px;
  width:30%;
}
.search-btn{
  display:block;
  background: black;
  width:100%;
  height:100%;
  line-height:30px;
  border:none;
  border-radius: 0 3px 3px 0;
  color:#FFF;
}

